doctype html
block vars
  - var page = ""
  - BASEURL = "../"
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    // Stylesheets
    link(href="#{BASEURL}styles/libs/bootstrap.min.css",rel="stylesheet")
    // Font-awesome icon
    link(href="#{BASEURL}styles/components/font-awesome.min.css",rel="stylesheet")
    // jQuery UI
    link(href="#{BASEURL}styles/components/jquery-ui.css",rel="stylesheet")
    // Calendar
    link(href="#{BASEURL}styles/components/fullcalendar.css",rel="stylesheet")
    // prettyPhoto
    link(href="#{BASEURL}styles/components/prettyPhoto.css",rel="stylesheet")
    // Star rating
    link(href="#{BASEURL}styles/components/rateit.css",rel="stylesheet")
    // Date Picker
    link(href="#{BASEURL}styles/components/bootstrap-datetimepicker.min.css",rel="stylesheet")
    // CLEditor
    link(href="#{BASEURL}styles/components/jquery.cleditor.css",rel="stylesheet")
    // Uniform
    //- link(href="#{BASEURL}styles/uniform.default.css",rel="stylesheet")
    // Bootstap toggle
    link(href="#{BASEURL}styles/components/bootstrap-switch.css",rel="stylesheet")
    // Main stylesheet
    link(href="#{BASEURL}styles/components/base.css",rel="stylesheet")
    link(href="#{BASEURL}styles/main.css",rel="stylesheet")
    // Widgets stylesheet
    link(href="#{BASEURL}styles/components/widgets.css",rel="stylesheet")
    // jQuery chosen stylesheet
    link(href="#{BASEURL}styles/components/chosen.css",rel="stylesheet")
    // HTML5 support for IE
    <!--[if lt IE 9]><script src="js/html5shim.js"></script><![endif]-->
    block head
  body(id=page)
    block html
    .wrapper
      block empty
        include header
        // Main content starts
        block content
        // Main content ends
        include footer

    // JS
    script(src="#{BASEURL}scripts/libs/jquery.min.js")
    // jQuery
    script(src="#{BASEURL}scripts/libs/respond.min.js")
    // RespondJs
    script(src="#{BASEURL}scripts/components/bootstrap.js")
    // Bootstrap
    script(src="#{BASEURL}scripts/components/jquery-ui-1.9.2.custom.min.js")
    // jQuery UI
    script(src="#{BASEURL}scripts/components/fullcalendar.min.js")
    // Full Google Calendar - Calendar 
    script(src="#{BASEURL}scripts/components/jquery.rateit.min.js")
    // RateIt - Star rating
    script(src="#{BASEURL}scripts/components/jquery.prettyPhoto.js")
    // prettyPhoto
    // jQuery Flot
    script(src="#{BASEURL}scripts/components/excanvas.min.js")
    script(src="#{BASEURL}scripts/components/jquery.flot.js")
    script(src="#{BASEURL}scripts/components/jquery.flot.resize.js")
    script(src="#{BASEURL}scripts/components/jquery.flot.pie.js")
    script(src="#{BASEURL}scripts/components/jquery.flot.stack.js")
    // jQuery Notification - Noty
    script(src="#{BASEURL}scripts/components/jquery.noty.js")
    //jQuery Notify
    script(src="#{BASEURL}scripts/components/default.js")
    //jQuery Notify
    script(src="#{BASEURL}scripts/components/bottom.js")
    //jQuery Notify
    script(src="#{BASEURL}scripts/components/topRight.js")
    //jQuery Notify
    script(src="#{BASEURL}scripts/components/top.js")
    //jQuery Notify
    // jQuery Notification ends
    script(src="#{BASEURL}scripts/components/sparklines.js")
    // Sparklines
    script(src="#{BASEURL}scripts/components/jquery.cleditor.min.js")
    // CLEditor
    script(src="#{BASEURL}scripts/components/bootstrap-datetimepicker.min.js")
    // Date picker
    //- script(src="#{BASEURL}scripts/jquery.uniform.min.js")
    // jQuery Uniform
    script(src="#{BASEURL}scripts/components/bootstrap-switch.min.js")
    // Bootstrap Toggle
    script(src="#{BASEURL}scripts/components/jquery.chosen.js")
    // jQuery chosen
    script(src="#{BASEURL}scripts/components/filter.js")
    // Filter for support page
    script(src="scripts/components/jquery.validate.js")
    //jQuery validate
    script(src="#{BASEURL}scripts/components/charts.js")
    // Charts & Graphs
    script(src='#{BASEURL}scripts/components/stickUp.js')
    // StickUp
    script(src="#{BASEURL}scripts/components/custom.js")
    // Custom Codes
    block js

